# -*- mode: conf; -*-
# SPDX-FileCopyrightText: David Fritzsche
# SPDX-License-Identifier: CC0-1.0
[flake8]
exclude =
    *.egg-info
    .eggs
    .build
    .git
    .tox
    .venv
    build
    dist
    docs
    downloads
    generated
    venv
    src/prettypb/protobuf/*.py
    runtime/src/prettypb/protobuf/*.py

ignore =
    # F811: redefinition of unused '...' from line ...
    F811
    # W503: line break before binary operator
    W503
    # E203: whitespace before ':'
    E203
    # E231: missing whitespace after ','
    E231
    # E501:line too long
    E501
    # E731: do not assign a lambda expression, use a def
    E731

builtins = reveal_type

max-line-length = 88
