# SPDX-FileCopyrightText: David Fritzsche
# SPDX-License-Identifier: CC0-1.0

!.bumpversion.cfg
!.bumpversion.cfg.license
!.editorconfig
!.flake8
!.gitattributes
!.gitignore
!.isort.cfg
!/.github
*.bak
*.egg-info
*.pyc
*~
.*_cache
.coverage
.coverage.*
.dir-locals.el
.eggs
.envrc
.hypothesis
.idea
.mypy*
.python-version
.secrets
.tox
.vs
.vscode
/.build*
/.venv
/build*
/dist
/install*
/old-*
/pip-wheel-metadata
/protox
/public
/target
Pipfile.lock
__pycache__
_version.py
pip-wheel-metadata
