# SPDX-FileCopyrightText: David Fritzsche
# SPDX-License-Identifier: CC0-1.0
black==21.6b0
bump2version
coverage[toml]
dflit
flake8-black
flake8-isort
fsfe-reuse
invoke
mypy==0.902
pip-tools
pip>=19.3
pytest-cov
pytest-html
pytest~=6.2.4
setuptools>=43
tox-pyenv
tox>=3.14.3
