# SPDX-FileCopyrightText: David Fritzsche
# SPDX-License-Identifier: CC0-1.0
black >=24,<25
bump2version
coverage[toml]
flake8-bugbear
flake8-comprehensions
flake8-html
flake8-pyi
flit >=3.12,<4
fsfe-reuse
invoke
isort
mypy ~=1.19.0
pip
pytest
pytest-cov
pytest-html
setuptools >=69
tox <4
tox-pyenv
types-invoke
uv ~=0.9.17
